//
// PLACE ANY BUILD DEFINITIONS IN THIS FILE AND THEY WILL BE 
// PICKED UP DURING THE APP BUILD FOR YOUR MODULE
//
// see the following webpage for instructions on the settings
// for this file:
// http://developer.apple.com/mac/library/documentation/DeveloperTools/Conceptual/XcodeBuildSystem/400-Build_Configurations/build_configs.html
// 

// Adding Frameworks that are dynamically linked at compile-time.
// These are required to build the module for Titanium users who are integrating the module into their project
OTHER_LDFLAGS=$(inherited) -framework CoreTelephony -framework MobileCoreServices -framework CFNetwork -framework SystemConfiguration -framework CoreMedia -framework Security -framework AudioToolbox -framework CoreAudio -framework CoreVideo -framework OpenGLES -lz -lstdc++ -framework QuartzCore -framework AVFoundation -framework UIKit -framework Foundation -framework CoreGraphics 

// Remove support for armv6 and armv7s
VALID_ARCHS=armv7 i386
